<div class="cssload-loader" [style.width]="width" [style.height]="width" [style.display]="'inline-block'">
  <div
    class="cssload-inner cssload-one"
    [style.borderColor]="color"
    [style.borderBottomWidth]="borderWidth"
  ></div>
  <div
    class="cssload-inner cssload-two"
    [style.borderColor]="color"
    [style.borderRightWidth]="borderWidth"
  ></div>
  <div
    class="cssload-inner cssload-three"
    [style.borderColor]="color"
    [style.borderTopWidth]="borderWidth"
  ></div>
</div>

